/.auctex-auto/
/*.tsv
/ltximg/
/logs/
.Rproj.user
/main
input/
output/
/.ccls-cache
/CMakeFiles/
/Debug/
sample_chain*.csv
/cmake_install.cmake
/compile_commands.json
/CMakeCache.txt
/Makefile
*.RData
*.pdf
*.png
